.chat-main
  .chat-main__header
    .chat-main__header__left
      %h2.chat-main__header__left__groupname
        テックキャンプ
      %ul.chat-main__header__left__memberlist 
        Member : 
        %li.chat-main__header__left__memberlist--member 
          kento
    = link_to "Edit", "#", class: "chat-main__header__edit"
        
  .chat-main__list
    = render @messages

  .chat-main__form
    %form 
      .form__box
        %input{:placeholder => "type a message", :type => "text", class: "form__box__message"}
        %label{class: "form__box__image"}
          =icon('fas', 'photo-video')
          %input{type: "file",class: "form__box__image__hidden"}
      %input{type: "submit", class: "form__send--btn"}