.side-bar
  .side-bar__user
    .top-items
      .top-items__name 建人
      .top-items__icon
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to "#" do
          = icon('fas', 'cog')
  .side-bar__group
    .side-bar__group__list
      .side-bar__group__list__name 
        テックキャンプ
      .side-bar__group__list__notification 
        メッセージありません
  